.btn {
    display: block;
    text-decoration: none;
}

.update {
    background-color: rgb(111, 221, 101);
    color: white;
    width: 10%;
}

.return_list {
    text-align: center;
    background-color: rgb(101, 157, 221);
    color: white;
    width: 50%;
}

.sort-by-deadline {
    background-color: rgb(255, 98, 0);
    color: white;
    width: 10%;
}

.show-until-show {
    background-color: rgb(101, 157, 221);
    color: white;
    width: 20%;
}

.show_all_tasks {
    background-color: rgb(228, 54, 185);
    color: white;
    width: 20%;
}

